/*BACKGROUND*/
.my-bg-header-sx-dx{
    background-color: white;
}

.my-bg-header{
    background-color: #F8F9FA;
}

/*COLOR LINK*/

/*HEADER*/
.my-color-link-header{
    color: #5A5858;
}

#my-color-link-bell{
    color:#FF8F00;
}

/*HEADER*/
#logo-mobile-boolean{
    height: 50px;
    
}

/*RESPONSIVE*/