:root{
 --header-height:90px;
 --logo-mobile-boolean:40px;
 --aside-width:70px;
}

/*GENERAL*/

/*HEADER*/
#header-height{
    height: var(--header-height);
}

#logo-mobile-boolean{
    height: var(--logo-mobile-boolean);
}

/*MAIN*/
main{
    height: calc(100vh - var(--header-height));
}

main > aside{
    width: var(--aside-width);
    height: 100%;
}

main > section{
    width: calc(100% - var(--aside-width));
}

/*SECTION - TABELLA*/

.font-size-tab-header{
    font-size: 14px;
}

.font-size-tab-main{
    font-size: 12px;
}

.my-button-td-green{
    width: max-content;
    border-radius: 10px;
    padding: 2px;
    color: white;
    background-color: green;
}

/*BACKGROUND*/

/*Header*/
#my-bg-header-sx{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#my-bg-header-dx{
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.my-bg-header{
    background-color: #F8F9FA;
}

/*Aside*/
.my-bg-aside{
    background-color: #142940;
    position: relative;
    background-image: url(../img/sidebar-bg.png);
}

#link-aside-bottom{
    position:fixed;
    bottom:20px;
}

/*Section*/

#my-bg-main-bottom{
    background-color: #F8F9FA;
}

#my-bg-main-top{
    background-color: #1C71E8;
}

.title-col-main-top{
    font-size: 14px;
}


/*COLOR LINK*/

/*HEADER*/
.my-color-link-header{
    color: #5A5858;
}

#my-color-link-bell{
    color:#FF8F00;
}

/*BUTTON CUSTOM*/

.my-button-custom{
    display: flex;
    text-align: center;
    height: 20px;
    background-color: #165BBA;
    font-size: 9px;
    margin-left: 5px;
    padding: 5px 8px;
}

.red-circle-icon{
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: #F26551;
    padding: 5px;
}

.gray-square-icon-td{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    padding: 3px;
    color: gray;
    border-radius: 4px;
    text-align: center;
    margin: 4px;
}

/*RESPONSIVE*/

/*SM*/
@media screen and (min-width:576px) {

    .aside-main > span{
        display: none;
    }

}

/*MD*/
@media screen and (min-width:768px) {

    /*ASIDE*/
    .aside-main > span{
        display: none;
    }

    .aside-main{
        width: 70px;
    }

}

/*LG*/
@media screen and (min-width:992px) {

    .aside-main{
        width: 150px;
    }

    main > section{
        width: calc(100% - 150px);
    }
}